<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Level</h5>
            <p-panel
                header="Ardeca"
                [toggleable]="true"
                class="line-height-3 m-2"
            >
                <p>
                    First and foremost is to equip your EXP talisman, then
                    eliminate monsters outside of Loa Castle until you reach
                    level 12. (At this level, you'll be able to teleport to
                    Deneb)
                </p>
            </p-panel>
            <p-panel
                header="Deneb"
                [toggleable]="true"
                class="line-height-3 m-2"
            >
                <p>
                    Once you're in Deneb, eliminate monsters until you reach
                    level 25. (At this level, you'll be able to teleport to
                    Parca Temple)
                </p>
                <p>Things to consider:</p>
                <ul>
                    <li>
                        Akris gives a lot of experience but don't force yourself
                        to find one. Eliminate monsters as much as possible.
                    </li>
                    <li>
                        Don't forget to loot. You'll need dils to buy your
                        skills
                    </li>
                </ul>
            </p-panel>
            <p-panel
                header="Heihaff"
                [toggleable]="true"
                class="line-height-3 m-2"
            >
                <p>
                    Once you're in Parca Temple, proceed in this area and
                    eliminate monsters until you reach level 44. (At this level,
                    you'll be able to teleport to Norak Cave). Go back to Loa
                    Castle and buy your skills.
                </p>
            </p-panel>
        </div>
    </div>
</div>
