<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Level</h5>
            <p-panel
                header="Ardeca (Lv 1 - 12)"
                [toggleable]="true"
                class="line-height-3 m-2"
            >
                <p>
                    First and foremost is to equip your EXP talisman, then
                    eliminate monsters outside of Loa Castle until you reach
                    level 12. (At this level, you'll be able to teleport to
                    Deneb)
                </p>
            </p-panel>
            <p-panel
                header="Deneb (Lv 12 - 25)"
                [toggleable]="true"
                class="line-height-3 m-2"
            >
                <p>
                    Once you're in Deneb, eliminate monsters until you reach
                    level 25. (At this level, you'll be able to teleport to
                    Parca Temple)
                </p>
                <p>Things to consider:</p>
                <ul>
                    <li>
                        Akris gives a lot of experience but don't force yourself
                        to find one. Eliminate monsters as much as possible.
                    </li>
                    <li>
                        Don't forget to loot. You'll need dils to buy your
                        skills
                    </li>
                </ul>
            </p-panel>
            <p-panel
                header="Heihaff (Lv 25 - 44)"
                [toggleable]="true"
                class="line-height-3 m-2"
            >
                <p>
                    Once you're in Parca Temple, proceed in this area and
                    eliminate monsters until you reach level 44. (At this level,
                    you'll be able to teleport to Norak Cave). Go back to Loa
                    Castle and buy your skills.
                </p>
            </p-panel>
            <p-panel
                header="Norak Cave (Lv 44 - 142)"
                [toggleable]="true"
                class="line-height-3 m-2"
            >
                <p>
                    Once you're in Norak Cave, create your own party and enter
                    the instance dungeon. You must have the Infinite Battle Rank
                    C tickets in order for you to enter.
                </p>
                <p>Things to consider:</p>
                <ul>
                    <li>
                        Set your heal to 100 (This can be changed and it's free)
                    </li>
                    <li>Use your Super Noble HP/MP</li>
                    <li>Loot Incar's Medal</li>
                </ul>
            </p-panel>
        </div>
    </div>
</div>
