<div class="grid grid-nogutter surface-section text-800">
    <div
        class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
    >
        <section>
            <span class="block text-6xl font-bold mb-1"
                >Create the screens your</span
            >
            <div class="text-6xl text-primary font-bold mb-3">
                visitors deserve to see
            </div>
            <p class="mt-0 mb-4 text-700 line-height-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>

            <button
                pButton
                pRipple
                label="Register"
                type="button"
                class="mr-3 p-button-raised"
            ></button>
            <button
                pButton
                pRipple
                label="Download"
                type="button"
                class="p-button-outlined"
            ></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img
            src="assets/demo/images/dk_home.png"
            alt="Image"
            class="md:ml-auto block md:h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
        />
    </div>
</div>

<div class="grid mt-5">
    <div class="col-12 md:col-6 lg:col-4">
        <div
            style="
                height: 160px;
                padding: 2px;
                border-radius: 10px;
                background: linear-gradient(
                        90deg,
                        rgba(145, 226, 237, 0.2),
                        rgba(251, 199, 145, 0.2)
                    ),
                    linear-gradient(
                        180deg,
                        rgba(253, 228, 165, 0.2),
                        rgba(172, 180, 223, 0.2)
                    );
            "
        >
            <div class="p-3 surface-card h-full" style="border-radius: 8px">
                <h5 class="mb-2 text-900">Game Information</h5>
                <ul>
                    <li>7 Classes | Max Lv. 170</li>
                    <li>Farm to Win | Gated Content</li>
                    <li>No Overpower Items</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <div
            style="
                height: 160px;
                padding: 2px;
                border-radius: 10px;
                background: linear-gradient(
                        90deg,
                        rgba(145, 210, 204, 0.2),
                        rgba(212, 162, 221, 0.2)
                    ),
                    linear-gradient(
                        180deg,
                        rgba(251, 199, 145, 0.2),
                        rgba(160, 210, 250, 0.2)
                    );
            "
        >
            <div class="p-3 surface-card h-full" style="border-radius: 8px">
                <h5 class="mb-2 text-900">Patch Notes</h5>
                <ul>
                    <li>
                        <a
                            href="https://discord.com/channels/1022147380176490628/1036137392802906234"
                            >Update 13.9 - Mar 06, 2023</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://discord.com/channels/1022147380176490628/1036137392802906234"
                            >Update 13.8 - Feb 16, 2023</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://discord.com/channels/1022147380176490628/1036137392802906234"
                            >Update 13.7 - Jan 14, 2023</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <div
            style="
                height: 160px;
                padding: 2px;
                border-radius: 10px;
                background: linear-gradient(
                        90deg,
                        rgba(251, 199, 145, 0.2),
                        rgba(246, 158, 188, 0.2)
                    ),
                    linear-gradient(
                        180deg,
                        rgba(172, 180, 223, 0.2),
                        rgba(212, 162, 221, 0.2)
                    );
            "
        >
            <div class="p-3 surface-card h-full" style="border-radius: 8px">
                <h5 class="mb-2 text-900">Upcoming Events</h5>
                <ul>
                    <li>Class vs Class - March 12, 2023</li>
                    <li>Last Man Standing - March 2, 2023</li>
                    <li>Kill the GM - Feb 28, 2023</li>
                </ul>
            </div>
        </div>
    </div>
</div>
