<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Beginner's Guide</h5>
            <p-panel
                header="Beginner Welcome Package"
                [toggleable]="true"
                class="line-height-3 m-2"
            >
                <p>
                    Upon creation of your character, you'll be spawned in Loa
                    Castle.
                </p>
                <p>
                    Start with opening your Beginner Welcome Package and get the
                    following items:
                </p>
                <img src="/assets/layout/images/beginner/beginner_1.png" />
                <ul>
                    <li>Super Noble HP/MP</li>
                    <li>Beginner's EXP Talisman (7 days)</li>
                    <li>IB Rank C Package (3 pcs)</li>
                </ul>
                <p>As you level, you'll get more beginner items:</p>
                <ul>
                    <li>x2 Armlet / 1 Belt</li>
                    <li>x2 Earrings</li>
                    <li>
                        x3 Rings, 1 Main Ring (Good for PVE and valid for 7
                        days)
                    </li>
                </ul>
            </p-panel>
            <p-panel
                header="Dshop"
                [toggleable]="true"
                class="line-height-3 m-2"
            >
                <p>
                    Access Dshop and get your mount, pet and portal scroll
                    (These are free).
                </p>
                <p>Note: Staying online, gives you 4 coins/hour.</p>
                <img src="/assets/layout/images/beginner/dshop_1.png" />
            </p-panel>
        </div>
    </div>
</div>
